# ------------------------------------------------------------------------------
# | File concatenation                                                         |
# ------------------------------------------------------------------------------

# Allow concatenation from within specific CSS and JS files, e.g.:
# Inside of `script.combined.js` you could have
#   <!--#include file="libs/jquery.js" -->
#   <!--#include file="plugins/jquery.idletimer.js" -->
# and they would be included into this single file.

<IfModule mod_include.c>
   <FilesMatch "\.combined\.css$">
       Options +Includes
       AddOutputFilterByType INCLUDES text/css
       SetOutputFilter INCLUDES
   </FilesMatch>
</IfModule>